<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            Offers >> Offer List
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1>Offer List</h1>
        <div class="table-cont">
            <div class="scrolled-x">
                <table id="table" class="main-table">
                    <tr class="main green">
                        <td class="main-td">Offer ID</td>
                        <td class="main-td">Title</td>
                        <td class="main-td">Outlet Type</td>
                        <td class="main-td">Priority</td>
                        <td class="main-td">Start Date</td>
                        <td class="main-td">End Date</td>
                        <td class="main-td">Status</td>
                        <td class="main-td">Images</td>
                        <td class="main-td">Edit</td>
                    </tr>
                    <tr class="main gainsboro">
                        <td class="main-td"><a class="underline-link" (click)="goTo('OfferDetail')" >osmart123</a></td>
                        <td class="main-td">Buy 10 get 1 free</td>
                        <td class="main-td">Modern Channel</td>
                        <td class="main-td">High</td>
                        <td class="main-td">2016-05-24 13:00</td>
                        <td class="main-td">2016-05-28 13:00</td>
                        <td class="main-td">Expired</td>
                        <td class="main-td"><a class="underline-link" (click)="toggleModal()">Osmart123.png</a></td>
                        <td class="main-td" (click)="goTo('OfferEdit')"></td>
                    </tr>
                    <!--<tr class="main white-smoke">
                        <td class="main-td">9999900002</td>
                        <td class="main-td"><a href="">Bird Cell</a></td>
                        <td class="main-td">Retail Shop</td>
                        <td class="main-td"><a href="">Agnes Saraswati</a></td>
                    </tr>-->
                </table>
            </div>
            <div class="paging">
                <ul class="pagination">
                    <li><a href="">&raquo;</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">2</a></li>
                    <li><a class="active" href="">1</a></li>
                    <li><a href="">&laquo;</a></li>
                </ul>
                <div class="clear-fix"></div>
            </div>
        </div>
        <h3 class="italic underline">Add Offers</h3>
        <table class="detail-table">
            <tr class="detail-tr">
                <td class="detail-capt-td">Outlet Type</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">
                    <select>
                        <option value="" disabled>Select Outlet Type</option>
                        <option value="">Outlet 1</option>
                        <option value="">Outlet 2</option>
                    </select>
                </td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">Priority</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">
                    <select>
                        <option value="">High</option>
                        <option value="">Medium</option>
                        <option value="">Low</option>
                    </select>
                </td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">Title</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td"><input placeholder="Input Title" /></td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">How it works</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td"><textarea cols="50" rows="4" placeholder="Input Description"></textarea></td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">Start Date</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">
                    <input type="date" />
                    <input class="time" type="time" />
                </td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">End Date</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">
                    <input type="date" />
                    <input class="time" type="time" />
                </td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">Images</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td"><input class="extensive" type="file" name="Browse" /></td>
            </tr>
        </table>
        <div class="button-cont left">
            <div class="button main">SAVE</div>
            <div class="button main reset">RESET</div>
            <div class="clear-fix"></div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div> 