<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            Offers >> Offers List
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <div class="image-cont" style="
            background:url('../img/test/Osmart123.png') left center no-repeat;
            background-size: contain;" >
        </div>
        <table class="detail-table">
            <tr class="detail-tr">
                <td class="detail-capt-td">Title</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">Buy 10 get 1 free</td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">Outlet Type</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">Modern Channel</td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">Priority</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">High</td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">How it works</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">Buy 10 get 1 free every purchase of Smartload</td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">Start Date</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">2016-05-24 13:00</td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">End Date</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">2016-05-28 13:00</td>
            </tr>
            <tr class="detail-tr">
                <td class="detail-capt-td">Status</td>
                <td class="detail-colon-td">:</td>
                <td class="detail-content-td">Expired</td>
            </tr>
        </table>
        <div class="button-cont left">
            <!--<div class="button main">EDIT</div>-->
            <div class="button main" (click)="gotoPreviousPage()">BACK</div>
            <div class="clear-fix"></div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div> 