<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            Offers >> Offer List
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1>Offer List</h1>
        <h3><div class="green">Total : 555 Retailer</div></h3>
        <div class="table-cont">
            <table id="table">
                <tr class="green">
                    <td>Retailer MIN</td>
                    <td>Retailer Name</td>
                    <td>Outlet Type</td>
                    <td>DSP Name</td>
                </tr>
                <tr class="gainsboro">
                    <td>9999900001</td>
                    <td><a href="">Gloria Cell</a></td>
                    <td>Modern Channel</td>
                    <td><a href="">Agnes Saraswati</a></td>
                </tr>
                <tr class="white-smoke">
                    <td>9999900002</td>
                    <td><a href="">Bird Cell</a></td>
                    <td>Retail Shop</td>
                    <td><a href="">Agnes Saraswati</a></td>
                </tr>
            </table>
            <div class="paging">
                <ul class="pagination">
                    <li><a href="">&raquo;</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">2</a></li>
                    <li><a class="active" href="">1</a></li>
                    <li><a href="">&laquo;</a></li>
                </ul>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>