<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            Offers >> Offer List
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1>Offer List</h1>
        <div class="table-cont">
            <div class="scrolled-x">
                <table id="table" class="main-table">
                    <tr class="main green">
                        <td class="main-td">Offer ID</td>
                        <td class="main-td">Title</td>
                        <td class="main-td">Outlet Type</td>
                        <td class="main-td">Priority</td>
                        <td class="main-td">Start Date</td>
                        <td class="main-td">End Date</td>
                        <td class="main-td">Status</td>
                        <td class="main-td">Images</td>
                        <td class="main-td">Edit</td>
                    </tr>
                    <tr class="main gainsboro">
                        <td class="main-td">osmart123</td>
                        <td class="main-td">Buy 10 get 1 free</td>
                        <td class="main-td">Modern Channel</td>
                        <td class="main-td">High</td>
                        <td class="main-td">2016-05-24 13:00</td>
                        <td class="main-td">2016-05-28 13:00</td>
                        <td class="main-td">Expired</td>
                        <td class="main-td"><a class="underline-link">Osmart123.png</a></td>
                        <td class="main-td"></td>
                    </tr>
                    <!--<tr class="main white-smoke">
                        <td class="main-td">9999900002</td>
                        <td class="main-td"><a href="">Bird Cell</a></td>
                        <td class="main-td">Retail Shop</td>
                        <td class="main-td"><a href="">Agnes Saraswati</a></td>
                    </tr>-->
                </table>
            </div>
            <div class="paging">
                <ul class="pagination">
                    <li><a href="">&raquo;</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">2</a></li>
                    <li><a class="active" href="">1</a></li>
                    <li><a href="">&laquo;</a></li>
                </ul>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div> 