<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            Products >> Products List
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1>Products List</h1>
        <div class="table-cont">
            <div class="scrolled-x">
                <table id="table" class="main-table">
                    <tr class="main green">
                        <td class="main-td">Brand</td>
                        <td class="main-td">Category</td>
                        <td class="main-td">Sub Category</td>
                        <td class="main-td">Product ID</td>
                        <td class="main-td">Description</td>
                        <td class="main-td" (click)="sort('UnitPrice')">Unit Price</td>
                    </tr>

                    <tr class="main" [ngClass]="{gainsboro: (i%2)==0, 'white-smoke': (i%2)==1}" *ngFor="#item of getProductList(); #i = index">
                        <td class="main-td">{{item.Brand}}</td>
                        <td class="main-td">{{item.Category}}</td>
                        <td class="main-td">{{item.SubCategory}}</td>
                        <td class="main-td">{{item.ProductID}}</td>
                        <td class="main-td">{{item.Description}}</td>
                        <td class="main-td">{{item.UnitPrice}}</td>
                    </tr>
                </table>
            </div>
            <div class="paging">
                <ul class="pagination">
                    <li><a href="">&raquo;</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">2</a></li>
                    <li><a class="active" href="">1</a></li>
                    <li><a href="">&laquo;</a></li>
                </ul>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>