<div class="dashboardCont">
    <div class="date">{{getToday()}}</div>
    <div class="clearFix"></div>
    <div class="content">
        <div class="title">My Dashboard</div>
        <div class="tiles">
            <div class="tile">a</div>
            <div class="tile">a</div>
            <div class="tile">a</div>
            <div class="clearFix"></div>
            <div class="tile">a</div>
            <div class="tile">a</div>
            <div class="tile">a</div>
            <div class="clearFix"></div>
            <div class="tile">a</div>
            <div class="tile">a</div>
            <div class="clearFix"></div>
        </div>
        <div class="clearFix"></div>
    </div>
</div>