<div class="dashboard-cont">
    <div class="date">{{getToday()}}</div>
    <div class="clear-fix"></div>
    <div class="dashboard-content">
        <h1 class="title">My Dashboard</h1>
        <div class="tiles">
            <div class="tile purple" (click)="goTo('SalesOrder')">
                <div class="left">
                    <div class="inner-left">
                        <div class="value">P</div>
                        <div class="desc">Sales Order</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="tile gray">
                <div class="left">
                    <div class="inner-left">
                        <div class="value">P</div>
                        <div class="desc">Collection Amount</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="tile red" (click)="goTo('UnservedOrder')">
                <div class="left">
                    <div class="inner-left">
                        <div class="value">P</div>
                        <div class="desc">Unserved Order</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="clear-fix"></div>
            <div class="tile red" (click)="goTo('Remittance')">
                <div class="left">
                    <div class="inner-left">
                        <div class="value">P</div>
                        <div class="desc">Remittance Amount</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="tile yellow" (click)="goTo('AccountReceivable')">
                <div class="left">
                    <div class="inner-left">
                        <div class="value">P</div>
                        <div class="desc">Account Receivable (BCP only)</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="tile purple">
                <div class="left">
                    <div class="inner-left">
                        <div class="value">P</div>
                        <div class="desc"># of DSP</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="clear-fix"></div>
            <div class="tile blue">
                <div class="left">
                    <div class="inner-left">
                        <div class="value">P</div>
                        <div class="desc"># of Retailers</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="tile orange" (click)="goTo('VisitedRetailer')">
                <div class="left">
                    <div class="inner-left">
                        <div class="value">P</div>
                        <div class="desc">Visited Retailer Route</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
    </div>
</div>