<div class="dashboardCont">
    <div class="date">{{getToday()}}</div>
    <div class="clearFix"></div>
    <div class="dashboardcontent">
        <h1 class="title">My Dashboard</h1>
        <div class="tiles">
            <div class="tile purple">
                <div class="left">
                    <div class="innerleft">
                        <div class="value">P</div>
                        <div class="desc">Sales Order</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div class="tile gray">
                <div class="left">
                    <div class="innerleft">
                        <div class="value">P</div>
                        <div class="desc">Collection Amount</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div class="tile red">
                <div class="left">
                    <div class="innerleft">
                        <div class="value">P</div>
                        <div class="desc">Unserved Order</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div class="clearFix"></div>
            <div class="tile red">
                <div class="left">
                    <div class="innerleft">
                        <div class="value">P</div>
                        <div class="desc">Remittance Amount</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div class="tile yellow">
                <div class="left">
                    <div class="innerleft">
                        <div class="value">P</div>
                        <div class="desc">Account Receivable (BCP only)</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div class="tile purple">
                <div class="left">
                    <div class="innerleft">
                        <div class="value">P</div>
                        <div class="desc"># of DSP</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div class="clearFix"></div>
            <div class="tile blue">
                <div class="left">
                    <div class="innerleft">
                        <div class="value">P</div>
                        <div class="desc"># of Retailers</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div class="tile orange">
                <div class="left">
                    <div class="innerleft">
                        <div class="value">P</div>
                        <div class="desc">Visited Retailer Route</div>
                    </div>
                </div>
                <div class="right">
                    <div class="icon"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div class="clearFix"></div>
        </div>
        <div class="clearFix"></div>
    </div>
</div>