<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            My Dashboard >> Remittance
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1>Remittance</h1>
        <h3>Total: P26,500</h3>
        <div class="description-cont">
            <div class="label">18/04/2016 To 18/04/2016</div>
            <div class="button-cont"><div class="button">Download</div></div>
            <div class="clear-fix"></div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>