<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            My Dashboard >> Sales Order
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1>Sales Order</h1>
        <h3 class="green">Total Load: P 7,500</h3>
        <h3 class="green">Total Physical: P 10,000</h3>
        <h3 class="green">Summary Total: P 17,500</h3>
        <div class="description-cont">
            <div class="label">18/05/2016 To 18/05/2016</div>
            <div class="button-cont"><div class="button"><div class="download"></div></div></div>
            <div class="clear-fix"></div>
        </div>
        <div class="table-cont">
            <div class="scrolled-x">
                <table id="table" class="main-table">
                    <tr class="main green">
                        <td class="main-td">Order #</td>
                        <td class="main-td click" (click)="sort('OrderCreationDate')">
                            <div class="arrow-desc">Order Creation Date</div> 
                            <div class="arrow-sort" [ngClass]="{up: getSortStatus('OrderCreationDate')}"></div>
                            <div class="clear-fix"></div>
                        </td>
                        <td class="main-td click" (click)="sort('DSPName')">
                            <div class="arrow-desc">DSP Name</div>
                            <div class="arrow-sort" [ngClass]="{up: getSortStatus('DSPName')}"></div>
                            <div class="clear-fix"></div>
                        </td>
                        <td class="main-td">DSP MIN</td>
                        <td class="main-td click" (click)="sort('RetailerName')">
                            <div class="arrow-desc">Retailer Name</div>
                            <div class="arrow-sort" [ngClass]="{up: getSortStatus('RetailerName')}"></div>
                            <div class="clear-fix"></div>
                        </td>
                        <td class="main-td">Total Amount</td>
                        <td class="main-td">Transfer Load</td>
                        <td class="main-td">Physical Order</td>
                    </tr>

                    <tr class="main" [ngClass]="{gainsboro: (i%2)==0, 'white-smoke': (i%2)==1}" *ngFor="#item of getSalesOrderList(); #i = index">
                        <td class="main-td"><a class="underline-link" (click)="goToOrderDetail('12345')">{{item.OrderNo}}</a></td>
                        <td class="main-td">{{item.OrderCreationDate}}</td>
                        <td class="main-td"><a class="underline-link" (click)="goToUserDetail('Surya')">{{item.DSPName}}</a></td>
                        <td class="main-td">{{item.DSPMIN}}</td>
                        <td class="main-td"><a class="underline-link" (click)="goToRetailerDetail('Gloria')">{{item.RetailerName}}</a></td>
                        <td class="main-td">{{item.TotalAmount}}</td>
                        <td class="main-td">{{item.TransferLoad}}</td>
                        <td class="main-td">{{item.PhysicalOrder}}</td>
                    </tr>
                </table>
            </div>
            <div class="paging">
                <ul class="pagination">
                    <li><a href="">&raquo;</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">2</a></li>
                    <li><a class="active" href="">1</a></li>
                    <li><a href="">&laquo;</a></li>
                </ul>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>