<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            My Dashboard >> Unserved Order
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1>Unserved Order</h1>
        <h3 class="green">200 Orders</h3>
        <div class="description-cont">
            <div class="label">18/04/2016 To 18/04/2016</div>
            <div class="button-cont"><div class="button">Download</div></div>
            <div class="clear-fix"></div>
        </div>
        <div class="table-cont">
            <div class="scrolled-x">
                <table id="table" class="main-table">
                    <tr class="main green">
                        <td class="main-td">Order Creation Date</td>
                        <td class="main-td">Order #</td>
                        <td class="main-td">DSP Name</td>
                        <td class="main-td">Retailer  Name</td>
                        <td class="main-td">Product Name</td>
                        <td class="main-td">Unserved Quantity</td>
                        <td class="main-td">Description</td>
                    </tr>
                    <tr class="main gainsboro">
                        <td class="main-td">2016-04-18 13:00</td>
                        <td class="main-td">12345</td>
                        <td class="main-td">Surya Santoso</td>
                        <td class="main-td">Gloria Cell</td>
                        <td class="main-td">SKU1</td>
                        <td class="main-td">200</td>
                        <td class="main-td">Not enough card brought by DSP</td>
                    </tr>
                    <tr class="main white-smoke">
                        <td class="main-td">2016-04-18 14:00</td>
                        <td class="main-td">12345</td>
                        <td class="main-td">Surya Santoso</td>
                        <td class="main-td">Gloria Cell</td>
                        <td class="main-td">SKU2</td>
                        <td class="main-td">100</td>
                        <td class="main-td">Not enough card brought by DSP</td>
                    </tr>
                    <tr class="main gainsboro">
                        <td class="main-td">2016-04-18 15:00</td>
                        <td class="main-td">12347</td>
                        <td class="main-td">Agnes Saraswati</td>
                        <td class="main-td">Rose Cell</td>
                        <td class="main-td">SKU1</td>
                        <td class="main-td">200</td>
                        <td class="main-td">Not enough card brought by DSP</td>
                    </tr>
                    <tr class="main white-smoke">
                        <td class="main-td">2016-04-18 16:00</td>
                        <td class="main-td">12348</td>
                        <td class="main-td">Agnes Saraswati</td>
                        <td class="main-td">ABC Cell </td>
                        <td class="main-td">SKU2</td>
                        <td class="main-td">100</td>
                        <td class="main-td">Not enough card brought by DSP</td>
                    </tr>
                    <tr class="main gainsboro">
                        <td class="main-td">2016-04-18 17:00</td>
                        <td class="main-td">12349</td>
                        <td class="main-td">Agnes Saraswati</td>
                        <td class="main-td">DEF Cell </td>
                        <td class="main-td">SKU1</td>
                        <td class="main-td">200</td>
                        <td class="main-td">Not enough card brought by DSP</td>
                    </tr>
                </table>
            </div>
            <div class="paging">
                <ul class="pagination">
                    <li><a href="">&raquo;</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">2</a></li>
                    <li><a class="active" href="">1</a></li>
                    <li><a href="">&laquo;</a></li>
                </ul>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>