<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            My Dashboard >> Visited Retailer
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1>Visited Retailer</h1>
        <h3 class="green">200 of 555</h3>
        <div class="description-cont">
            <div class="label">18/04/2016 To 18/04/2016</div>
            <div class="button-cont"><div class="button">Download</div></div>
            <div class="clear-fix"></div>
        </div>
        <div class="table-cont">
            <div class="scrolled-x">
                <table id="table" class="main-table">
                    <tr class="main green">
                        <td class="main-td">DSP Name</td>
                        <td class="main-td">Retailer Name</td>
                        <td class="main-td">Retailer SMART MIN</td>
                        <td class="main-td">Retailer SUN MIN</td>
                        <td class="main-td">Target Visited</td>
                        <td class="main-td">Visited</td>
                        <td class="main-td"># of  Productive Visit</td>
                        <td class="main-td">Retailer Name</td>
                        <td class="main-td">Retailer SMART MIN</td>
                        <td class="main-td">Retailer SUN MIN</td>
                        <td class="main-td">Target Visited</td>
                        <td class="main-td">Visited</td>
                        <td class="main-td"># of  Productive   Visit</td>
                        <td class="main-td">Last Visited</td>
                    </tr>
                    <tr class="main gainsboro">
                        <td class="main-td">Surya Santoso</td>
                        <td class="main-td">Gloria Cell</td>
                        <td class="main-td">9999000014</td>
                        <td class="main-td">9999000016</td>
                        <td class="main-td">1</td>
                        <td class="main-td">3</td>
                        <td class="main-td">2</td>
                        <td class="main-td">Gloria Cell</td>
                        <td class="main-td">9999000014</td>
                        <td class="main-td">9999000016</td>
                        <td class="main-td">1</td>
                        <td class="main-td">3</td>
                        <td class="main-td">2</td>
                        <td class="main-td">2016-04-18 13:00</td>
                    </tr>
                    <tr class="main white-smoke">
                        <td class="main-td">Surya Santoso</td>
                        <td class="main-td">Bird Cell </td>
                        <td class="main-td">9999000018</td>
                        <td class="main-td">9999000024</td>
                        <td class="main-td">2</td>
                        <td class="main-td">5</td>
                        <td class="main-td">4</td>
                        <td class="main-td">Bird Cell </td>
                        <td class="main-td">9999000018</td>
                        <td class="main-td">9999000024</td>
                        <td class="main-td">2</td>
                        <td class="main-td">5</td>
                        <td class="main-td">4</td>
                        <td class="main-td">2016-04-18 13:00</td>
                    </tr>
                    <tr class="main gainsboro">
                        <td class="main-td">Surya Santoso</td>
                        <td class="main-td">Rose Cell</td>
                        <td class="main-td">9999000020</td>
                        <td class="main-td">9999000027</td>
                        <td class="main-td">2</td>
                        <td class="main-td">5</td>
                        <td class="main-td">3</td>
                        <td class="main-td">Rose Cell</td>
                        <td class="main-td">9999000020,</td>
                        <td class="main-td">9999000027</td>
                        <td class="main-td">2</td>
                        <td class="main-td">5</td>
                        <td class="main-td">3</td>
                        <td class="main-td">2016-04-18 13:00</td>
                    </tr>
                    <tr class="main white-smoke">
                        <td class="main-td">Surya Santoso</td>
                        <td class="main-td">ABC Cell </td>
                        <td class="main-td">9999000022</td>
                        <td class="main-td">9999000029</td>
                        <td class="main-td">3</td>
                        <td class="main-td">4</td>
                        <td class="main-td">4</td>
                        <td class="main-td">ABC Cell </td>
                        <td class="main-td">9999000022</td>
                        <td class="main-td">9999000029</td>
                        <td class="main-td">3</td>
                        <td class="main-td">4</td>
                        <td class="main-td">4</td>
                        <td class="main-td">2016-04-18 13:00</td>
                    </tr>
                    <tr class="main gainsboro">
                        <td class="main-td">Surya Santoso</td>
                        <td class="main-td">DEF Cell </td>
                        <td class="main-td">9999000024</td>
                        <td class="main-td">9999000030</td>
                        <td class="main-td">3</td>
                        <td class="main-td">2</td>
                        <td class="main-td">1</td>
                        <td class="main-td">DEF Cell </td>
                        <td class="main-td">9999000024</td>
                        <td class="main-td">9999000030</td>
                        <td class="main-td">3</td>
                        <td class="main-td">2</td>
                        <td class="main-td">1</td>
                        <td class="main-td">2016-04-18 13:00</td>
                    </tr>
                </table>
            </div>
            <div class="paging">
                <ul class="pagination">
                    <li><a href="">&raquo;</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">2</a></li>
                    <li><a class="active" href="">1</a></li>
                    <li><a href="">&laquo;</a></li>
                </ul>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>