<!--web view-->
<div class="header-container"  *ngIf="getLayout().appHeader">
	<div class="main-box">
        <div class="default-box">
            <div id="header-title-id" class="title">{{getTitle()}}</div>
            <div class="title-logo">
                <div class="smart"></div>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
    <div class="nav-box">
        <div class="nav-left">
            <div class="item" [ngClass]="{active: getNavigationState().Dashboard}" (click)="setNavigationState('Dashboard')">Dashboard</div>
            <div class="item" [ngClass]="{active: getNavigationState().UsersList}" (click)="setNavigationState('UsersList')">Users</div>
            <div class="item" [ngClass]="{active: getNavigationState().RetailersList}" (click)="setNavigationState('RetailersList')">Retailers</div>
            <div class="item" [ngClass]="{active: getNavigationState().Offers}" (click)="setNavigationState('Offers')">Offers</div>
            <div class="item" [ngClass]="{active: getNavigationState().Products}" (click)="setNavigationState('Products')">Products</div>
            <div class="clear-fix"></div>
        </div>
        <div class="nav-right">
            <div class="pic"></div>
            <div class="desc">Welcome Irvinder!</div>
            <div class="dropdown-content">
                <a (click)="goToAdminProfile()">Profile</a>
                <a href="#">Logout</a>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
</div>