// web view
.dashboard-cont{
    width: 100%;
    
    .date{
        width: 100%;
        float: left;
        text-align: right;
    }
    
    .dashboard-content{
        width: calc(80%);
        margin: 0 10%;
        
        .title{
            float: left;
            width: 100%;
            // font-size: 1.5vw;
        }
        
        .tiles{
            float: left;
            width: 100%;
            
            .tile{
                float: left;
                width: calc(100% / 3 - 22px);
                height: 150px;
                margin: 10px;
                cursor: pointer;

                &.purple{
                    background-color: $purple;
                }
                
                &.gray{
                    background-color: $silver-sand;
                }

                &.red{
                    background-color: $vivid-pink;
                }

                &.yellow{
                    background-color: $ripe-lemon;
                }
                
                &.blue{
                    background-color: $picton-blue;
                }
                
                &.orange{
                    background-color: $jaffa;
                }

                .left{
                    float: left;
                    width: 70%;
                    height: 100%;
                    display: flex;
                    display: -ms-flex; // IE > 10
                    display: -webkit-flex; // Safari
                    display: -moz-flex; // Mozilla
                    justify-content: center;
                    vertical-align: middle;
                    
                    .inner-left{
                        margin: auto;
                        display: inline-block;
                        color: $white;

                        .value{
                            font-size: $larger-text;
                        }

                        .desc{
                            font-style: italic;
                            font-size: $small-text;
                        }
                    }
                }

                .right{
                    float: left;
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    vertical-align: middle;
                    
                    .icon{
                        background: url('../img/icon-idsp-2/setting-grey.png')no-repeat;
                        background-position: center;
                        background-size: 50px;
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        display: inline-block;
                    }

                    .visited {
                        background: url(#{$icon-round-grad-visited})no-repeat;
                        background-position: center;
                        background-size: 50px;
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        display: inline-block;
                    }
                    .unserved-order {
                        background: url(#{$icon-round-grad-unserved-order})no-repeat;
                        background-position: center;
                        background-size: 50px;
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        display: inline-block;
                    }

                    .acc-receivable {
                        background: url(#{$icon-round-grad-acc-receivable})no-repeat;
                        background-position: center;
                        background-size: 50px;
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        display: inline-block;
                    }

                    .remittance {
                        background: url(#{$icon-round-grad-remittance})no-repeat;
                        background-position: center;
                        background-size: 50px;
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        display: inline-block;
                    }

                    .collection {
                        background: url(#{$icon-round-grad-collection})no-repeat;
                        background-position: center;
                        background-size: 50px;
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        display: inline-block;
                    }
                }

            }
        }
    }
}