.left-menu-cont{
    width: 100%;
    margin-bottom: 30px;
    margin-top:20px;

    .left-menu-item{
    	border-bottom: 1px solid $apple;
    	padding: 7px;
    	cursor: pointer;
    }
    .left-menu-item:hover{   	
    	text-decoration : underline;
    }

 //    ul{

	//     li{
	//     	list-style:none;
	//     	border-bottom: 1px solid $vivid-pink;
	//     }
	// }
}