$container-mpin-height: 100%;

.container-mpin {
	background: url("../img/login_bg_admin.png") no-repeat center center;
	z-index: 50;
	position: fixed;
    left: 0;
    right: 0;
	height: 100%;
	text-align :center;
	background-size: cover;

	.anti-spy {
        width: 500px;
	    height: 400px;
	    background-color: rgba(0, 0, 0, 0.8);
	    border-radius: 10px;
	    margin: 15% auto;        
    }

    ::-webkit-input-placeholder {
		color:    #FFF;
	}
	:-moz-placeholder {
		color:    #FFF;
	}
	::-moz-placeholder {
		color:    #FFF;
	}
	:-ms-input-placeholder {
		color:    #FFF;
	}

	.smart-logo
	{
		width: 250px;
	    background: url("../img/smart-logo.png") no-repeat;
	    background-position-x: center;
	    background-position-y: center;
	    background-size: 150px;
	    z-index: 100;
	    padding-top: 75px;
	    margin-bottom: 0px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.outer-box {
		margin: 10px 50px 10px 50px;
	    left: auto;
	    right: auto;
	    display: inline-block;
		.header {
			color: #FFF;
		    font-size: 30px;
		    text-align: center;
		    margin: 50px 0px 10px 0px;
		}

		.mpin-title{
			color: #FFF;
		    font-size: 25px;
		    text-align: center;
		    left: auto;
		    right: auto;
		    margin-bottom: 0px;
		}

		.mpin-message{
			color: #FFF;
			clear: both;
	        margin: 0px 10px 5px 10px;
    		font-size: 12px;
	        font-style: italic;
	        text-align: center;
		}

		.mpin-field {
			clear: both;
			display: inline-flex;
			width: 100%;
		       .mpin-field-item {
			        font-size: 10px;
				    line-height: 50px;
				    margin: 10px 0px 10px 0px;
				    font-weight: bold;
				    color: #FFF;
      			}
      	.last-child {
          	margin-right: 0 !important;
        }
        	input {
		        border: 1px solid #ddd;
			    width: 65%;
			    height: 45px;
			    background-color: rgba(199, 195, 184, 0.5);
			    font-size: 25px;
			    text-align: center;
			    font-style: italic;
			    font-weight: 100;
			    color: #FFF;
      		}
		}

		a {
			color: #FFF;
			cursor: pointer;
		}

		.link {
			text-decoration: underline;
			font-size: 15px;
    		margin: 5px 0px 0px 0px;
		}
		

		.submit-button
		{
    		height: 20px;
		    background-color: #62BB47;
		    text-align: center;
		    vertical-align: center;
		    font-weight: 600;
		    width: 100%;
		    font-size: 15px;
		    padding: 10px 0px 10px 0px;
		    color: #FFF;
		    border-radius: 5px;
		}
	}
}
