<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            Users >> Users List
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <left-menu></left-menu>
        <filter></filter>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
    <div class="clear-fix"></div>
</div>