<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            Users >> Users List
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <div class="left-menu-cont">
            <div class="left-menu-item" [ngClass]="{'vivid-pink': getUserTabStatus().detail}" (click)="goTo('Users/UserDetail', 'detail')">User Detail</div>
            <div class="left-menu-item" [ngClass]="{'vivid-pink': getUserTabStatus().inventory}" (click)="goTo('Users/UserInventory', 'inventory')">User Inventory</div>
            <div class="left-menu-item" [ngClass]="{'vivid-pink': getUserTabStatus().salestarget}" (click)="goTo('Users/UserSalesTarget', 'salestarget')">User Sales Target</div>
            <div class="left-menu-item" [ngClass]="{'vivid-pink': getUserTabStatus().retailerroute}" (click)="goTo('Users/UserRetailerRoute', 'retailerroute')">User Retailer Route</div>
        </div>
        <filter></filter>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
    <div class="clear-fix"></div>
</div>