<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            Users >> User Retailer Route
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clearFix"></div>
    </div>
    <div class="clearFix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1 (click)="gotoDetail()">User Retailer Route</h1>
    </div>
    <div class="clear-iix"></div>
</div>