<div class="generalContainer">
    <div class="infoCont">
        <div class="innerInfo navigation">
            Users >> User Inventory
        </div>
        <div class="innerInfo date">
            {{getToday()}}
        </div>
        <div class="clearFix"></div>
    </div>
    <div class="clearFix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1 (click)="gotoDetail()">User Inventory</h1>
    </div>
    <div class="clearFix"></div>
</div>