<div class="generalContainer">
    <div class="infoCont">
        <div class="innerInfo navigation">
            Users >> User Detail
        </div>
        <div class="innerInfo date">
            {{getToday()}}
        </div>
        <div class="clearFix"></div>
    </div>
    <div class="clearFix"></div>
    <div class="left">
        <filter></filter>
    </div>
    <div class="right">
        <h1 (click)="gotoDetail()">Agnes Ganisa Saraswati Profile</h1>        
        <div class="content">

            <table class="detail-content">
                <tr>
                    <td class="detail-caption">First Name</td>
                    <td class="separator">:</td>
                    <td class="detail-content">Agnes</td>
                </tr>
                <tr>
                    <td class="detail-caption">Middle Name</td>
                    <td class="separator">:</td>
                    <td class="detail-content">Ganisa</td>
                </tr>
                <tr>
                    <td class="detail-caption">Last Name</td>
                    <td class="separator">:</td>
                    <td class="detail-content">Saraswati</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Role</td>
                    <td class="separator">:</td>
                    <td class="detail-content">DSP</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Supervisor</td>
                    <td class="separator">:</td>
                    <td class="detail-content">Diana, Diana</td>
                </tr>
                 <tr>
                    <td class="detail-caption">No of Retailers</td>
                    <td class="separator">:</td>
                    <td class="detail-content">10</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Birthdate</td>
                    <td class="separator">:</td>
                    <td class="detail-content">12 April 1994</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Gender</td>
                    <td class="separator">:</td>
                    <td class="detail-content">Female</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Civil Status</td>
                    <td class="separator">:</td>
                    <td class="detail-content">Single</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Address</td>
                    <td class="separator">:</td>
                    <td class="detail-content">Makati City, Phillipines</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Civil Status</td>
                    <td class="separator">:</td>
                    <td class="detail-content">Single</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Address</td>
                    <td class="separator">:</td>
                    <td class="detail-content">Makati City, Phillipines</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Contact Number</td>
                    <td class="separator">:</td>
                    <td class="detail-content">+63-918xxxx</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Email Address</td>
                    <td class="separator">:</td>
                    <td class="detail-content">agnes.saraswati@yahoo.com</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Smart MIN</td>
                    <td class="separator">:</td>
                    <td class="detail-content">8888000001</td>
                </tr>
                 <tr>
                    <td class="detail-caption">Sun MIN</td>
                    <td class="separator">:</td>
                    <td class="detail-content">9999000001</td>
                </tr>
            </table>

        </div>
    </div>
    <div class="clearFix"></div>
</div>