<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            Retailer >> Retailer List >> Retailer Detail
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <div class="left-menu-cont">
            <div class="left-menu-item" [ngClass]="{'vivid-pink': getRetailerTabStatus().detail}" (click)="goTo('Retailers/RetailerDetail', 'detail')">Retailers Detail</div>
            <div class="left-menu-item" [ngClass]="{'vivid-pink': getRetailerTabStatus().collection}" (click)="goTo('Retailers/RetailerCollection', 'collection')">Retailers Collection</div>
            <div class="left-menu-item" [ngClass]="{'vivid-pink': getRetailerTabStatus().inventory}" (click)="goTo('Retailers/RetailerInventory', 'inventory')">Retailers Inventory</div>
            <div class="left-menu-item" [ngClass]="{'vivid-pink': getRetailerTabStatus().share}" (click)="goTo('Retailers/RetailerShare', 'share')">Retailers % Share</div>
            <div class="left-menu-item" [ngClass]="{'vivid-pink': getRetailerTabStatus().frequency}" (click)="goTo('Retailers/RetailerFrequency', 'frequency')">Retailers Frequency</div>
        </div>
        <filter></filter>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
    <div class="clear-fix"></div>
</div>