<div class="general-container">
    <div class="info-cont">
        <div class="inner-info"><h1>Gloria Cell Visit Frequency</h1></div>
        <div class="inner-info">
            <div class="info-right">
                <div>Assign DSP - Surya Putra Santoso</div>
                <div>F8 - Monday & Friday</div>
            </div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <h3 class="italic">Assign/Edit Frequency</h3>
    <table class="detail-table">
        <tr class="detail-tr">
            <td class="detail-capt-td">Visit Frequency</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">
                <select class="extensive">
                    <option value="F4">F4</option>
                    <option value="F8">F8</option>
                    <option value="F12">F12</option>
                </select>
            </td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td">Sub Route</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">
                <select class="extensive">
                    <option value="1">Monday, Wednesday, Friday</option>
                    <option value="2">Monday, Friday</option>
                </select>
            </td>
        </tr>
    </table>
    <div class="button-cont left">
        <div class="button main">SAVE</div>
        <div class="button main reset">RESET</div>
        <div class="clear-fix"></div>
    </div>
</div>