<div class="content">
    <h1>Gloria Cell Profile</h1>      
    <table class="detail-table">
        <tr class="detail-tr">
            <td class="detail-capt-td">Retailer Name</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">Gloria Cell</td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td">Retailer SMART MIN</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">9999000014</td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td"></td>
            <td class="detail-colon-td"></td>
            <td class="detail-content-td">9999000015</td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td">Retailer SUN MIN</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">9999000016</td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td"></td>
            <td class="detail-colon-td"></td>
            <td class="detail-content-td">9999000017</td>
        </tr>
         <tr class="detail-tr">
            <td class="detail-capt-td">Assigned to DSP</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td"><a class="underline-link">Surya P Santoso</a></td>
        </tr>
         <tr class="detail-tr">
            <td class="detail-capt-td">Retailer Address</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">Barangka Dr. Mandaluyong</td>
        </tr>
         <tr class="detail-tr">
            <td class="detail-capt-td">Owner First Name</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">Gloria</td>
        </tr>
         <tr class="detail-tr">
            <td class="detail-capt-td">Owner Last Name</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">Anne</td>
        </tr>
         <tr class="detail-tr">
            <td class="detail-capt-td">Outlet Type</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">Shop Dealer</td>
        </tr>
         <tr class="detail-tr">
            <td class="detail-capt-td">Sub Outlet Type</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">Sub Outlet Type A</td>
        </tr>
         <tr class="detail-tr">
            <td class="detail-capt-td">Civil Status</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">Single</td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td">Email Address</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">gloria@yahoo.com</td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td">Gender</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">Female</td>
        </tr>
         <tr class="detail-tr">
            <td class="detail-capt-td">Birthdate</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">12 October 1992</td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td">Contact Number</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">+63-918xxxx</td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td">Account Receivables</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">P 1,500</td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td">Value Segment</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td"><div class=vivid-pink>High</div></td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td">Threshold</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td"><div class=vivid-pink>P 1,500</div></td>
        </tr>
        <tr class="detail-tr">
            <td class="detail-capt-td">Last Visited</td>
            <td class="detail-colon-td">:</td>
            <td class="detail-content-td">04/12/2016 03:16</td>
        </tr>
    </table>
</div>