<div class="content">
    <h1>Gloria Cell Inventory</h1>
    <br>
    <div class="tab-cont">
    	<div class="tab-item" (click)="showTabLoad()" [ngClass] = "{active: vLoadActive}">Load</div>
    	<div class="tab-item" (click)="showTabPhysical()" [ngClass] = "{active: vPhysicalActive}">Physical</div>
    </div>
    <br>
    <br>
    <div class="table-cont">
    	<div class="tab-content" *ngIf="vLoadShow">
	        <div class="scrolled-x">
	            <table id="table" class="main-table">
	                <tr class="main green">
	                    <td class="main-td">Brand</td>
	                    <td class="main-td">Sub Category</td>
	                    <td class="main-td">Latest Balance</td>
	                    <td class="main-td">Last Amount Transferred</td>
	                    <td class="main-td">Transaction Date</td>
	                </tr>
	                <tr class="main gainsboro">
	                    <td class="main-td">SMART</td>
	                    <td class="main-td">SmartLoad</td>
	                    <td class="main-td">800</td>
	                    <td class="main-td">50</td>
	                    <td class="main-td">2016-05-18 13:00</td>
	                </tr>
	                <tr class="main white-smoke">
	                    <td class="main-td">SUN</td>
	                    <td class="main-td">XLoad Traditional</td>
	                    <td class="main-td">500</td>
	                    <td class="main-td">180</td>
	                    <td class="main-td">2016-05-18 14:00</td>
	                </tr>
	            </table>            
	        </div>
	        <div class="paging">
	            <ul class="pagination">
	                <li><a href="">&raquo;</a></li>
	                <li><a href="">6</a></li>
	                <li><a href="">5</a></li>
	                <li><a href="">4</a></li>
	                <li><a href="">3</a></li>
	                <li><a href="">2</a></li>
	                <li><a class="active" href="">1</a></li>
	                <li><a href="">&laquo;</a></li>
	            </ul>
	            <div class="clear-fix"></div>
	        </div>
	    </div>
	    <div class="tab-content"  *ngIf="vPhysicalShow">
	        <div class="scrolled-x">
	            <table id="table" class="main-table">
	                <tr class="main green">
	                    <td class="main-td">Brand</td>
	                    <td class="main-td">Sub Category</td>
	                    <td class="main-td">SKU</td>
	                    <td class="main-td">Last Quantity Sold</td>
	                    <td class="main-td">Transaction Date</td>
	                </tr>
	                <tr class="main gainsboro">
	                    <td class="main-td">SMART</td>
	                    <td class="main-td">SMART CTC/TL</td>
	                    <td class="main-td">SKU12345</td>
	                    <td class="main-td">100</td>
	                    <td class="main-td">2016-05-18 13:00</td>
	                </tr>
	                <tr class="main white-smoke">
	                    <td class="main-td">SUN</td>
	                    <td class="main-td">Regular	Card</td>
	                    <td class="main-td">SKU12347</td>
	                    <td class="main-td">50</td>
	                    <td class="main-td">2016-05-18 14:00</td>
	                </tr>
	            </table>            
	        </div>
	        <div class="paging">
	            <ul class="pagination">
	                <li><a href="">&raquo;</a></li>
	                <li><a href="">6</a></li>
	                <li><a href="">5</a></li>
	                <li><a href="">4</a></li>
	                <li><a href="">3</a></li>
	                <li><a href="">2</a></li>
	                <li><a class="active" href="">1</a></li>
	                <li><a href="">&laquo;</a></li>
	            </ul>
	            <div class="clear-fix"></div>
	        </div>
        </div>
	</div>
</div>