    <div class="right">
        <h1>Gloria Cell Collection</h1>
        <h3><div class="green">Total: P 12,000</div></h3>
        <div class="table-cont">
            <div class="scrolled-x">
                <table id="table" class="main-table">
                    <tr class="main green">
                        <td class="main-td">Collection Date</td>
                        <td class="main-td">Order Date</td>
                        <td class="main-td">Order #</td>
                        <td class="main-td">Amount</td>
                    </tr>
                    <tr class="main gainsboro">
                        <td class="main-td">2016-05-18 13:00</td>
                        <td class="main-td">2016-05-18 13:00</td>
                        <td class="main-td">123456</td>
                        <td class="main-td">P 5,000</td>
                    </tr>
                    <tr class="main white-smoke">
                        <td class="main-td">2016-05-18 14:00</td>
                        <td class="main-td">2016-05-18 14:00</td>
                        <td class="main-td">123457</td>
                        <td class="main-td">P 7,000</td>
                    </tr>
                </table>
            </div>
            <div class="paging">
                <ul class="pagination">
                    <li><a href="">&raquo;</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">2</a></li>
                    <li><a class="active" href="">1</a></li>
                    <li><a href="">&laquo;</a></li>
                </ul>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>