<div class="general-content">
    <div class="info-cont">
        <div class="inner-info"><h1>Gloria Cell % Share</h1></div>
        <div class="inner-info">
            <div class="info-right">
                <div>Assigned to DSP - Surya Putra Santoso</div>
            </div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="table-cont">
        <div class="scrolled-x">
            <table id="table" class="main-table">
                <tr class="main green">
                    <td class="main-td">Brand</td>
                    <td class="main-td">Category</td>
                    <td class="main-td">Sub Category</td>
                    <td class="main-td">% Target</td>
                </tr>
                <tr class="main gainsboro">
                    <td class="main-td">SMART</td>
                    <td class="main-td">Airtime</td>
                    <td class="main-td">Smart CTC/TL</td>
                    <td class="main-td"><input type="number" placeholder="0"/>%</td>
                </tr>
                <tr class="main white-smoke">
                    <td class="main-td">SUN</td>
                    <td class="main-td">SIM</td>
                    <td class="main-td">Special SIM</td>
                    <td class="main-td"><input type="number" placeholder="0"/>%</td>
                </tr>
                <tr class="main gainsboro">
                    <td class="main-td">SUN</td>
                    <td class="main-td">SIM</td>
                    <td class="main-td">Special SIM</td>
                    <td class="main-td"><input type="number" placeholder="0"/>%</td>
                </tr>
                <tr class="main white-smoke">
                    <td class="main-td">SUN</td>
                    <td class="main-td">SIM</td>
                    <td class="main-td">Special SIM</td>
                    <td class="main-td"><input type="number" placeholder="0"/>%</td>
                </tr>
            </table>            
        </div>

        <div class="paging">
            <ul class="pagination">
                <li><a href="">&raquo;</a></li>
                <li><a href="">6</a></li>
                <li><a href="">5</a></li>
                <li><a href="">4</a></li>
                <li><a href="">3</a></li>
                <li><a href="">2</a></li>
                <li><a class="active" href="">1</a></li>
                <li><a href="">&laquo;</a></li>
            </ul>
            <div class="clear-fix"></div>
        </div>
        <div class="button-cont-content">
            <div class="button main">SAVE</div>
            <div class="button main reset">RESET</div>
        </div>
    </div>
</div>
