<div class="general-container">
    <div class="info-cont">
        <div class="inner-info navigation">
            Profile
        </div>
        <div class="inner-info date">
            {{getToday()}}
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
    <div class="left">
        <left-menu></left-menu>
        <filter></filter>
    </div>
    <div class="right">
        <div class="content">
            <h1>April Joy Profile</h1>      
            <table class="detail-table">
                <tr class="detail-tr">
                    <td class="detail-capt-td">First Name</td>
                    <td class="detail-colon-td">:</td>
                    <td class="detail-content-td">April</td>
                </tr>
                <tr class="detail-tr">
                    <td class="detail-capt-td">Last Name</td>
                    <td class="detail-colon-td">:</td>
                    <td class="detail-content-td">Joy</td>
                </tr>
                 <tr class="detail-tr">
                    <td class="detail-capt-td">Birthdate</td>
                    <td class="detail-colon-td">:</td>
                    <td class="detail-content-td">12 October 1980</td>
                </tr>
                 <tr class="detail-tr">
                    <td class="detail-capt-td">Gender</td>
                    <td class="detail-colon-td">:</td>
                    <td class="detail-content-td">Female</td>
                </tr>
                 <tr class="detail-tr">
                    <td class="detail-capt-td">Civil Status</td>
                    <td class="detail-colon-td">:</td>
                    <td class="detail-content-td">Single</td>
                </tr>
                 <tr class="detail-tr">
                    <td class="detail-capt-td">Address</td>
                    <td class="detail-colon-td">:</td>
                    <td class="detail-content-td">Makati City, Phillipines</td>
                </tr>
                 <tr class="detail-tr">
                    <td class="detail-capt-td">Contact Number</td>
                    <td class="detail-colon-td">:</td>
                    <td class="detail-content-td">+63-918xxxx</td>
                </tr>
                 <tr class="detail-tr">
                    <td class="detail-capt-td">Email Address</td>
                    <td class="detail-colon-td">:</td>
                    <td class="detail-content-td">april.joy@yahoo.com</td>
                </tr>
                 <tr class="detail-tr">
                    <td class="detail-capt-td">Smart MIN</td>
                    <td class="detail-colon-td">:</td>
                    <td class="detail-content-td">99999999999999999</td>
                </tr>
                 <tr class="detail-tr">
                    <td class="detail-capt-td">Sun MIN</td>
                    <td class="detail-colon-td">:</td>
                    <td class="detail-content-td">99999999999343434</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>

